

.properties-page {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 50px;
  background-color: #f7f7f7;
}

.property-listings .property-card {
  margin-bottom: 20px;
}



   @media (max-width: 1024px) {
    .properties-page {
      flex-direction: column;
      gap: 30px;
    }
  
    .filter-container,
    .property-listings {
      flex: 1;
      width: 100%;
    }
  }
  
  /* For mobile phones */
  @media (max-width: 768px) {
    .filter-container {
      padding: 15px;
    }

    .property-card{
      max-height: 1000px;

    }
  }

  @media (max-width: 480px) {
    .filter-container {
      padding: 10px;
    }
    
    .property-card{
      max-height: 1000px;

    }
  
    .property-listings h2 {
      font-size: 1.5rem;

    }
  }


  /* filter css */

  /* Filter.css */
.filter-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.clear-btn {
  background-color: #ef233c;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 10px;
  width: 100%;
}

.clear-btn:hover {
  background-color: #e01a35;
}